.sobre-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    background-color: #0e0d0d;
    overflow: auto;
    overflow-x: hidden;
    color: aliceblue;
}


.titulo-sobre {
    font-family: 'Georgia', 'Franklin Gothic', 'Segoe Print', 'Segoe Script', 'Times New Roman';
    font-weight: normal;
    font-size: 2.5rem;
    margin-bottom: 5rem;
}


.sobre-content {
    max-height: 50vh;
    width: 25dvw;
    border: 2px dashed #20bdbd;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px;
    font-family: 'Georgia', 'Franklin Gothic', 'Segoe Print', 'Segoe Script', 'Times New Roman';
    font-size: 1.2rem;
    background-color: #141414;
    color: #ffffff;
    border-radius: 4px;
    margin-bottom: 15px;
}



a img {

    width: 32px;
    height: 32px;
}

.sobre-content::-webkit-scrollbar {
    width: 3px;
    height: 8px;
}

.sobre-content::-webkit-scrollbar-thumb {
    background-color: #1b5757;
    border-radius: 4px;
}

.sobre-content::-webkit-scrollbar-thumb:hover {
    background-color: #1d1313;
}


@media all and (max-height:700px) {
    .sobre-content {
        width: 60dvw;
        height: 50vh;
    }

}

@media all and (max-width: 800px) {

    .sobre-content {
        width: 70dvw;
        height: 40vh;
    }


}

.flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: min-content;

}

.flex-row-spacebet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    gap: 1rem;
    margin-left: 10px;

}