.footer {

    display: flex;
    justify-content: start;
    align-items: end;
    background-color: rgb(14, 13, 13);
    color: white;
    padding: 0px;
    font-family: 'Georgia', 'Franklin Gothic', 'Segoe Print', 'Segoe Script';



}

.text-bottom {
    display: flex;
    justify-content: start;
    align-items: end;
    align-self: end;


}

.text-content-end {
    font-size: 2dvh;
    font-family: 'Georgia', 'Franklin Gothic', 'Segoe Print', 'Segoe Script', 'Times New Roman';

    margin-left: 10px;
    margin-bottom: 5px;
}