.sobre-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    background-color: #0e0d0d;
    overflow: auto;
    overflow-x: hidden;
    color: aliceblue;
}


.titulo-sobre {
    font-family: 'Georgia', 'Franklin Gothic', 'Segoe Print', 'Segoe Script', 'Times New Roman';
    font-weight: normal;
    font-size: 2.5rem;
    margin-bottom: 5rem;
}


.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100dvw;
    gap: 20px;

}

.sobre-content {
    height: 25vh;
    width: 40dvw;
    border: 3px dashed #ccc;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    padding: 20px;
    font-family: 'Georgia', 'Franklin Gothic', 'Segoe Print', 'Segoe Script', 'Times New Roman';
    font-size: 1.2rem;
    background-color: #0e0d0d;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
}


@media all and (max-height:700px) {
    .sobre-content {
        width: 70dvw;
        height: 50vh;
    }

}

@media all and (max-width: 800px) {

    .sobre-content {
        width: 70dvw;
        height: 40vh;
    }


}