body,
html {
    margin: 0;
    padding: 0;



}



.container {
    display: grid;
    height: 100vh;
    min-height: 500px;
    grid-template-rows: 5% 90% 5%;
    grid-template-columns: 1fr;
    margin-top: 0;
    padding-top: 0;

}